.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #000000, #1a237e);
  position: relative;
  overflow: hidden;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  animation: twinkle 5s infinite;
}

@keyframes twinkle {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.converter-box {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 5px;
}

.converter-box button {
  opacity: 0.8;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}

.converter-box button:hover {
  opacity: 0.8;
}

.converter-box input[type="number"],
.converter-box select {
  opacity: 0.8;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
}

.converter-box input[type="number"]:focus,
.converter-box select:focus {
  opacity: 0.8;
}

.converter-box select {
  width: 100%;
}

.converter-box option {
  background-color: rgba(51, 79, 158, 0.5);
  color: white;
}

